
@{
    ViewBag.Title = "Anasayfa";
}

<div class="jumbotron" style="background-image:url(../../Content/img/bg.jpg); background-position:center; height:240px;">
</div>
<div class="jumbotron" style="background-color:aliceblue">
    <h1>AnadoluRental</h1>
    <p class="lead">
        Araç Kiralama Sayfamıza Hoşgeldiniz, <br /><br />
        Araç kiralama alanında hizmet veren güçlü aktörlerden biri de AnadoluRental markasıdır.
        Sistemsel alt yapısı, hizmet kalitesine yaptığı yatırımlar, sürekli yenilenen araç filosu ile AnadoluRental markası, ülke genelinde çok tercih ediliyor.
    </p>
    <p class="lead">
        Geniş ofis ağı, zengin araç filosu ile dikkat çeken AnadoluRental, yeni, bakımlı, temiz araçlarla yolculuk boyunca rahat etmenizi hedefliyor.
        Bayram tatili, şehirler arası yolculuklar, gezi amaçlı ya da iş amaçlı seyahatlerde güvenle AnadoluRental’dan araba kiralama yapabilirsiniz.
        Temiz ve bakımlı araçlarla sorunsuzca yolculuğunuzu tamamlayabilir, dilediğiniz zaman müşteri hizmetlerini arayarak destek alabilirsiniz.
    </p>
    <p class="lead">
        AnadoluRental markası, kaliteli hizmet sunabilmek üzere hem personeline hem de araç filosuna sürekli yatırım yapan güçlü bir alt yapı ile çalışır.
        Ekonomik sınıf araç kiralama, orta sınıf araç kiralama ve lüks sınıf araç kiralama konusundaki ihtiyaçlarınıza AnadoluRental ile çözüm bulabilirsiniz.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>
            Dünyanin en büyük online araba kiralama hizmeti
        </h2>
        <p>
            160 ülkede 900'den fazla şirketle çalışmamız sayesinde, doğru aracı doğru yerde ve en uygun fiyatla bulabiliyoruz.
        </p>
        <p><a class="btn btn-default" href="#">Daha Fazlası &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            3,5 milyon'dan fazla kullanıcı tarafından puanlandı
        </h2>
        <p>
            Her müşterimizden, kendisine araç sağlayan şirkete bir puan vermesini istiyoruz. Siz de puanları karşılaştırın ve en doğru seçimi yapın.
        </p>
        <p><a class="btn btn-default" href="#">Daha Fazlası &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            Rezervasyonunuzu çevrimiçi yönetin
        </h2>
        <p>
            Rezervasyonunuzu online olarak değiştirmek kolaydır
        </p>
        <p><a class="btn btn-default" href="#">Daha Fazlası &raquo;</a></p>
    </div>
</div>